$black: #2f2926;
$white: #ffffff;
$red: #e5674e;
$green: #38846d;
$latte: #f3e4e1;

//rubriker
$rufina: "Rufina", serif;

// pharagraphs
$PT: "PT Serif", serif;

// prices etc
$worksans: "Work Sans", sans-serif;
